@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  background-color: #2d385a;
}

.wrap {
  margin: auto;
  padding: 3%;
  width: 60%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .wrap {
    width: 85%;
  }
}

@media (max-width: 576px) {
  .wrap {
    width: 95%;
  }
}

@media (max-width: 426px) {
  .wrap {
    width: 98%;
  }
}

@media (max-width: 300px) {
  .wrap {
    width: 300px;
  }
}

.sidebar {
  display: flex;
  flex-direction: row;
  margin-bottom: 4%;
}

@media (max-width: 768px) {
  .sidebar {
    margin-bottom: 6%;
  }
}

@media (max-width: 600px) {
  .sidebar {
    margin-bottom: 7%;
  }
}

.content {
  width: 89%;
  padding: 40px;
  box-shadow: -8px -8px 20px #2a333d, 10px 7px 20px #475462;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.button {
  font-size: 22px;
  border: 1px solid #8c8888;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  color: #000;
  background-color: #dedddd;
  padding: 11% 15px;
  box-shadow: -2px -2px 8px #2a333d;
  margin-right: 30px;
}

@media (max-width: 768px) {
  .button {
    font-size: 17px;
  }
}

@media (max-width: 320px) {
  .button {
    font-size: 13px;
  }
}

.active {
  background-color: #f8edd1;
}

