@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.wrap {
  margin: auto;
  padding: 3%;
  width: 1000px;
}

.content {
  padding: 40px;
  box-shadow: -8px -8px 20px #2a333d, 10px 7px 20px #475462;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.InputItem{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  width: 100%;
}

.title {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 4% 0 4% 0;
}

li {
  list-style-type: none;
}

.ItemList {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 2% 0 1% 0;
}

.delete {
  justify-content: space-between;
  flex: 100;
}

.Footer {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.done {
  color: #8c8888;
  text-decoration: line-through;
}
