@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

.wrap {
  margin: auto;
  width: 300px;
}

.InputItem{
  font-family: "Prosto One";
  font-size: 12px;
  width: 300px;
}

.title {
  font-family: "Prosto One";
}

.ItemList {
  font-family: "Prosto One";
}

.Footer {
  font-family: "Prosto One";
  font-size: 12px;
}

.done {
  color: #c4c4c4;
}