@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  background-color: #8db7f3;
}

.wrap {
  margin: auto;
  padding: 3%;
  width: 60%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .wrap {
    width: 85%;
  }
}

@media (max-width: 576px) {
  .wrap {
    width: 95%;
  }
}

@media (max-width: 426px) {
  .wrap {
    width: 98%;
  }
}

@media (max-width: 300px) {
  .wrap {
    width: 320px;
    min-width: 320px;
  }
}

.sidebar {
  display: flex;
  flex-direction: row;
  margin-bottom: 4%;
}

@media (max-width: 768px) {
  .sidebar {
    margin-bottom: 6%;
  }
}

@media (max-width: 600px) {
  .sidebar {
    margin-bottom: 7%;
  }
}

.content {
  width: 89%;
  padding: 40px;
  box-shadow: -8px -8px 20px #2a333d, 10px 7px 20px #475462;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.button {
  font-size: 22px;
  border: 1px solid #8c8888;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  color: #000;
  background-color: #dedddd;
  padding: 11px 15px;
  box-shadow: -2px -2px 8px #2a333d;
  margin-right: 30px;
}

@media (max-width: 768px) {
  .button {
    font-size: 17px;
  }
}

@media (max-width: 320px) {
  .button {
    font-size: 13px;
  }
}

.active {
  background-color: #f8edd1;
}

.link {
  width: 25%;
  padding: 1%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: 1px solid #8c8888;
  border-radius: 5px;
  background-color: #f8edd1;
  box-shadow: -2px -2px 8px #2a333d;
}

@media (max-width: 850px) {
  .link {
    width: 30%;
  }
}

@media (max-width: 715px) {
  .link {
    width: 35%;
  }
}

@media (max-width: 612px) {
  .link {
    width: 45%;
  }
}

@media (max-width: 436px) {
  .link {
    width: 55%;
  }
}

@media (max-width: 350px) {
  .link {
    min-width: 64%;
  }
}

.link__item {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  color:#000;
  text-decoration: none;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item__img {
  padding-left: 10px;
}